<ion-view view-title="YOKLAMA AL">
  <ion-content>
    <h1>YOKLAMA</h1>
    <button class="button ion-button" ng-repeat="s in siniflar" ng-click="sinif_ogr(s.sinif)">{{s.sinif}}</button>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="ogr in ogrenciler" href="">
        <img src="http://findicons.com/files/icons/2770/ios_7_icons/128/student2.png">
        <h2>{{ogr.okulno}} {{ogr.ad}} {{ogr.soyad}}</h2>
        <p>{{ogr.sinif}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
